@font-face {
    font-family: 'Special Elite';
    src: url('SpecialElite-Regular.eot');
    src: url('SpecialElite-Regular.eot?#iefix') format('embedded-opentype'),
        url('SpecialElite-Regular.woff2') format('woff2'),
        url('SpecialElite-Regular.woff') format('woff'),
        url('SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    background-color:#f9f9f3;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

body,html {
    height: 100%;
  }

.display-4 {
font-family: 'Special Elite';
  font-size: 4.0vw;
  font-weight: 300;
  line-height: 1.2;
}

.blockquote-footer{
  font-family: 'Special Elite';
  font-size: 2vw;
}

.lead{
  font-family: 'Special Elite';
  font-size: 2vw;
}


.hidden{
  display: none;
}


CSS-Tricks Example
Simple Styles for <hr>'s
Code
Code
Code
Code
Code
Code
Code
/* Flaired edges, by Tomas Theunissen */

