@font-face {
    font-family: 'Special Elite';
    src: url('SpecialElite-Regular.eot');
    src: url('SpecialElite-Regular.eot?#iefix') format('embedded-opentype'),
        url('SpecialElite-Regular.woff2') format('woff2'),
        url('SpecialElite-Regular.woff') format('woff'),
        url('SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    background-color:#AEDC00; 
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    color:#57586E;
}



body,html {
    height: 100%;

  }

.display-4, h1 {
font-family: 'Special Elite';
  font-size: 4.0vw;
  font-weight: 300;
  line-height: 1.2;
  color:#57586E;
}

.blockquote-footer{
  font-family: 'Special Elite';
  font-size: 2vw;
  color:#57586E;
}

.lead{
  font-family: 'Special Elite';
  font-size: 2vw;
  color:#57586E;
}

.qr{
  font-family: 'Special Elite';
  font-size: 1vw;
  color:#57586E;
}


.hidden{
  display: none;
}

.HRwit{
  height:2px;
  border-width:0;
  background-color:#57586E;
}

#mydiv {
  position: absolute;
  z-index: 9;
  border: 1px solid #1a3a3a;
  background-color: #1a3a3a;
  text-align: center;
}

#mydivheader {
  cursor: move;
  z-index: 10;
  background-color: #91acac;
  color: #FFF;
}

.dragbar {
  height: 3em;
  background-color: #91acac;
  color: #FFF;
  cursor:move;
}

.dragbar img
{
  height: inherit;
}

.dragbarbottom {
  color: #FFF;

}
