@font-face {
    font-family: 'Special Elite';
    src: url('SpecialElite-Regular.eot');
    src: url('SpecialElite-Regular.eot?#iefix') format('embedded-opentype'),
        url('SpecialElite-Regular.woff2') format('woff2'),
        url('SpecialElite-Regular.woff') format('woff'),
        url('SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    Background-color:#1a3a3a; 
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    
  
  }

body,html {
    height: 100%;
  }

.display-4 {
font-family: 'Special Elite';
  font-size: 4.0vw;
  font-weight: 300;
  line-height: 1.2;
  color:#ffffff;
}

.blockquote-footer{
  font-family: 'Special Elite';
  font-size: 2vw;
  color:#ffffff;
}

.lead{
  font-family: 'Special Elite';
  font-size: 2vw;
  color:#ffffff;
}

.qr{
  font-family: 'Special Elite';
  font-size: 1vw;
  color:#ffffff;
}


.hidden{
  display: none;
}

.HRwit{
  height:2px;
  border-width:0;
  color:white;
  background-color:white
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #1a3a3a;
  border: 1px solid #122929;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #122929;
  color: #fff;
}